///
/// Color variables
///
/// @package    Dashboard_Summary
/// @subpackage Assets
/// @category   CSS
/// @since      1.0.0
///

// Color name variables.
$white: #ffffff;
$off_white: #f1f1f1;
$pale_gray: #ccd0d4;
$light_gray: #606a73;
$medium_gray: #444444;
$dark_gray: #23282d;
$black: #000000;
$green: #46b450;
$yellow: #ffb900;
$orange: #f56e28;
$red: #dc3232;

// Messages and user actions.
$success_color: $green;
$warning_color: $yellow;
$notify_color: $orange;
$error_color: $red;
