///
/// Tabbed & accordion content
///
/// @package    Dashboard_Summary
/// @subpackage Assets
/// @category   CSS
///

// Import partials.


.ds-tabs .ds-tabs-nav {
    margin: 0;
    padding: 0;
}

.ds-tabs .ds-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.ds-tabs .ds-tabs-panel {
    padding: 15px;
    display: none;
}

.ds-tabs .ds-tabs-accordion-title {
    display: none;
}

.ds-tabs .ds-tabs-panel.ds-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 782px) {
    .ds-tabs .ds-tabs-nav {
        display: none;
    }

    .ds-tabs .ds-tabs-accordion-title {
        display: block;
    }
}

/* Tabs container */
.ds-tabs {
	position: relative;
}

/* Tab element */
.ds-tabs .ds-tabs-nav .ds-tabs-tab {
	position: relative;
}

/* Tab anchor */
.ds-tabs .ds-tabs-nav .ds-tabs-anchor {
	display: inline-block;
	padding: 10px 12px;
	text-decoration: none;
}

/* Disabled tab */
.ds-tabs .ds-tabs-nav .ds-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.ds-tabs .ds-tabs-nav .ds-tabs-state-active .ds-tabs-anchor {
	text-shadow: none;
}

/* Tab panel */
.ds-tabs .ds-tabs-panel {}

/* Accordion anchor */
.ds-tabs .ds-tabs-accordion-title .ds-tabs-anchor {
	display: block;
	padding: 10px;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;

	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

/* Active accordion anchor */
.ds-tabs .ds-tabs-accordion-title.ds-tabs-state-active .ds-tabs-anchor {
	text-shadow: none;
}

/* Disabled accordion button */
.ds-tabs .ds-tabs-accordion-title.ds-tabs-state-disabled {
	opacity: 0.5;
}

/* Info bar */
.info {
	display:inline-block;
	margin-top: 10px;
	margin-right: 10px;
	padding: 10px 20px;
	width: 300px;
	line-height: 100%;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 14px;
	cursor: pointer;
}

// If JavaScript is disabled.
.no-js {

	.ds-tabs-nav {
		display: none;
	}
}
