/**
 * Default dashboard widget styles
 *
 * @package    Dashboard_Summary
 * @subpackage Assets
 * @category   CSS
 * @since      1.0.0
 */

// Import partials.
@import 'modules/_colors';
@import 'modules/_tabs';

$ds_widget_border_color: $pale_gray;

#dashboard-widgets {

	#ds-default-widget {

		h3,
		h4,
		p,
		ul,
		ol {
			margin: 0.75em 0 0;
		}

		li {
			margin: 0;
			margin-top: 0.5em;
		}

		.ds-widget-section {
			max-width: 420px;

			h3,
			h4 {
				font-size: 1em;
				font-weight: bold;
				font-weight: 600;
			}

			ul {
				&.ds-content-list {
					display: grid;
					grid-template-columns: repeat( 2, minmax( 10px, 1fr ) );
					grid-gap: 8px;

					li {
						margin: 0;
					}
				}
			}

			div.ds-widget-divided-section {
				&:not( :first-of-type ) {
					margin-top: 1em;
					padding-top: 0.5em;
					border-top: solid 1px $ds_widget_border_color;
				}
			}
		}

		.ds-widget-details-list {

			ul {
				list-style: disc;
				margin-left: 1em;
			}
		}

		.ds-cpt-icons {
			display: inline-block;
			width: 20px;
			height: 20px;
			vertical-align: middle;
		}

		.ds-search-engines {
			color: $notify_color;
			font-weight: bold;
			font-weight: 600;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

/* Right-to-left language styles */
.rtl #dashboard-widgets {
	#ds-default-widget {

		.ds-widget-details-list {

			ul {
				margin-left: auto;
				margin-right: 1em;
			}
		}
	}
}

/* System queries */
@media screen and (max-width: 782px) {
	// Styles
}

@media screen and (max-width: 600px) {
	// Styles
}
