///
/// Default dashboard widget styles
///

#ds-default-widget {

	.ds-widget-section {
		margin-top: 1rem;

		h3 {
			font-size: 1em;
			font-weight: bold;
			font-weight: 600;
		}

		ul {
			&.ds-content-list {
				display: grid;
				grid-template-columns: repeat( 2, minmax( 10px, 1fr ) );
				grid-gap: 0 10px;
			}
		}
	}

	#ds-default-widget-system-details {
		p {
			margin: 0;
		}
	}
}

/* System queries */
@media screen and (max-width: 782px) {
	// Styles
}

@media screen and (max-width: 600px) {
	// Styles
}