/**
 * Default dashboard widget styles
 *
 * @package    Dashboard_Summary
 * @subpackage Assets
 * @category   CSS
 */
.ds-tabs .ds-tabs-nav {
  margin: 0;
  padding: 0;
}

.ds-tabs .ds-tabs-tab {
  display: inline-block;
  margin: 0;
  list-style: none;
}

.ds-tabs .ds-tabs-panel {
  padding: 15px;
  display: none;
}

.ds-tabs .ds-tabs-accordion-title {
  display: none;
}

.ds-tabs .ds-tabs-panel.ds-tabs-state-active {
  display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 782px) {
  .ds-tabs .ds-tabs-nav {
    display: none;
  }
  .ds-tabs .ds-tabs-accordion-title {
    display: block;
  }
}

/* Tabs container */
.ds-tabs {
  position: relative;
}

/* Tab element */
.ds-tabs .ds-tabs-nav .ds-tabs-tab {
  position: relative;
}

/* Tab anchor */
.ds-tabs .ds-tabs-nav .ds-tabs-anchor {
  display: inline-block;
  padding: 10px 12px;
  text-decoration: none;
}

/* Disabled tab */
.ds-tabs .ds-tabs-nav .ds-tabs-state-disabled {
  opacity: 0.5;
}

/* Active state tab anchor */
.ds-tabs .ds-tabs-nav .ds-tabs-state-active .ds-tabs-anchor {
  text-shadow: none;
}

/* Tab panel */
/* Accordion anchor */
.ds-tabs .ds-tabs-accordion-title .ds-tabs-anchor {
  display: block;
  padding: 10px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

/* Active accordion anchor */
.ds-tabs .ds-tabs-accordion-title.ds-tabs-state-active .ds-tabs-anchor {
  text-shadow: none;
}

/* Disabled accordion button */
.ds-tabs .ds-tabs-accordion-title.ds-tabs-state-disabled {
  opacity: 0.5;
}

/* Info bar */
.info {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  width: 300px;
  line-height: 100%;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  cursor: pointer;
}

.no-js .ds-tabs-nav {
  display: none;
}

#ds-default-widget .ds-widget-section {
  margin-top: 1rem;
}

#ds-default-widget .ds-widget-section h3 {
  font-size: 1em;
  font-weight: bold;
  font-weight: 600;
}

#ds-default-widget .ds-widget-section ul.ds-content-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10px, 1fr))[2];
      grid-template-columns: repeat(2, minmax(10px, 1fr));
  grid-gap: 8px;
}

#ds-default-widget .ds-widget-section ul.ds-content-list li {
  margin: 0;
}

#ds-default-widget .ds-widget-system-list {
  margin-left: 1em;
  list-style: disc;
}

#ds-default-widget .ds-widget-system-list li {
  margin: 0;
}

#ds-default-widget .ds-search-engines {
  color: #d00;
  text-decoration: underline;
}

/* Right-to-left language styles */
.rtl #ds-default-widget .ds-widget-system-list {
  margin-left: 0;
  margin-right: 1em;
  list-style: disc;
}

.rtl #ds-default-widget .ds-widget-system-list li {
  margin: 0;
}

/* System queries */
